
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
.welcome{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background:linear-gradient(140deg,#e8f5fd,#89c4e6);
}
.container{
  max-width: 700px;
  width: 100%;
  background: linear-gradient(-120deg,#fff8d2,#fdffed);
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title{
  font-size: 35px;
  font-weight: 500;
  padding-bottom: 15px;
  justify-content: center;
  /* position: relative; */
  align-items: center;
  font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
}
.container .title ::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: #ab8cb8;
}
.delete-button {
  margin-left: 0px;
  font-size: medium;
  size:medium;
  
}
.container form .user-details{
  display: block;
  flex-wrap: wrap;
  margin: 20px 0 12px 0 ;
  justify-content: space-between;
}

.form .user-details .input-box{
 margin-bottom: 15px;
  width: calc(100%/2-20px);
  justify-content: center;
  align-items: center;
}

.form .user-details .input-box input{
height: 45px;
width: 100% ;
outline: none;
border-radius: 5px;
border:1px solid rgb(255, 255, 255);
padding-left: 15px;
font-size: 16px;
border-bottom-width:2px ;
transition: all 0.3s ease;
}
.form .user-details .input-box  .details{
font-weight: 500;
margin-bottom: 5px;
display:block ;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
border-color: #d4dfff;
}



.form .button{
  height:45px;
  width: 45px 0;
}
.form .button button{
  height: 100%;
  width:100%;
  outline:none;
  color:rgb(255, 255, 255);
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  letter-spacing: 1px;
  background:linear-gradient(140deg,#ffb9ed,#edd2fd);
} .button button:hover{
  background:linear-gradient(-80deg,#e9c1f8,#f7b0fa);
}

@media (max-width:584px){
  .container{
    max-width: 100%;
  }
   .user-details .input-box{
    margin-bottom: 15px;
     width: 100%;
   }
   .container form .user-details{
    max-height: 300px;
    overflow-y: scroll;

   }
   .user-details::-webkit-scrollbar{
    width:0;
   }
}
.welcome1{
  justify-content: center;
  align-items: center;
  display: block;
  
}
.input-box1{
  margin-bottom: 15px;
  width: calc(100%/2-20px);
  justify-content: center;
  align-items: center;
}
.input-box1  input{
  height: 45px;
width: 100% ;
outline: none;
border-radius: 5px;
border:1px solid #ccc;
padding-left: 15px;
font-size: 16px;
border-bottom-width:2px ;
transition: all 0.3s ease;

}
 .input-box1  .details{
  font-weight: 500;
  margin-bottom: 5px;
  display:block ;
  }
 .input-box1 input:focus,
  .input-box1 input:valid{
  border-color:#eef2ff;
  }
  
.input-box2{
  margin-bottom: 15px;
 
  width: calc(100%/2-20px);
  justify-content: center;
  align-items: center;
}
.input-box2 input{
  height: 45px;
  
width: 100% ;
outline: none;
border-radius: 5px;
border:1px solid #ccc;
padding-left: 15px;
font-size: 16px;
border-bottom-width:2px ;
transition: all 0.3s ease;
}

 .input-box2  .details{
  font-weight: 500;
  margin-bottom: 5px;
  display:block ;
  }
 .input-box2 input:focus, 
 .input-box2 input:valid{
  border-color: #d4dfff;
  }
  
.button1{
  height:45px;
  width: 20px 0;
}

.button1 button{
  height: 100%;
  cursor: pointer;
  width:100%;
  outline:none;
  color:black;
  font-size: 15px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
  letter-spacing: 1px;
  background:linear-gradient(-80deg,#ffd1f1,#f5eaff);
}
.button1 button:hover{
  background:linear-gradient(-80deg,#ffade6,#f5eaff);
}
.button2{
  height:45px;
  width: 20px 0;
}

.button2 button{
  cursor: pointer;
  height: 100%;
  width:100%;
  outline:none;
  color:black;
  font-size: 15px;
  font-weight: 500;
  border: none;
  margin-top: 15px;
  border-radius: 6px;
  letter-spacing: 1px;
  background:linear-gradient(-80deg,#fdd4f1,#f5eaff);
}
.button2 button:hover{
  background:linear-gradient(-80deg,#ffaae5,#f5eaff);
}
.buttons{
  padding-top:15px;
  /* padding: 20px; */
  margin:8px;
}